.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    width: 100%;
    margin-top: 1vh;
    position: sticky;
    top: 0;
    z-index: 100; /*so nothing can be behind the header*/
    background-color: white;
}

.header .icon {
    cursor: pointer;
}

.header > div {
    display: flex;
    align-items: center;
    height: 100%;
}

.header .logo {
    height: 25px;
}

.header .left > .menu-icon {
    margin-right: 13%;
}

.header .input {
    width: 30%;
    height: 70% !important;

    border: 1px solid lightgray;

    justify-content: space-between;
}

.header .input > input{
    width: 84%;
    height: 100%;
    border: none;
    padding: 0;
}

.header .search-icon {
    width: 16% !important;
    height: 100% !important;
    background-color: #fafafa;
    border-left: 1px solid lightgray;
    color:gray;
}

.header .icons > * {
    margin-right: 1vw;
}